@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --md-sys-color-primary: #2d6a2f;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-secondary: #506350;
  --md-sys-color-secondary-container: #d3e8d0;
  --md-sys-color-surface: #f4fff1;
  --md-sys-color-surface-container: #daf3d3;
  --md-sys-color-on-surface: #162114;
  --md-sys-color-on-surface-variant: #3f4d3c;
  --md-sys-color-outline: #63785f;
  --md-sys-color-outline-variant: #c0d2bc;
  --md-state-layers-primary-opacity-16: 0.16;

  --md-schemes-surface-container: var(--md-sys-color-surface-container);
  --md-schemes-outline-variant: var(--md-sys-color-outline-variant);
  --md-schemes-outline: var(--md-sys-color-outline);
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  transition: background-color 220ms ease, color 220ms ease;
}

textarea:focus,
input:focus {
  outline: none;
}

.material-symbols-rounded {
  height: fit-content;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.material-symbols-rounded.fill {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
